body {
  font-family: Georgia, serif;
  margin: 1em auto 4em auto;
  width: 720px;
  color: #222;
}

h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
}

footer {
  margin-top: 8em;
  display: none;
}

p {
  line-height: 1.5em;
}

blockquote, footer {
  color: #444;
}

a {
  color: #00ccff;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code {
  font-family: monospace;
  line-height: normal;
}

pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
  overflow-x: auto;
}

@media screen and (max-width:825px) {
  body {
    margin: 1em 20px 4em 20px;
    width: auto;
  }

  pre {
    margin-left: 0;
  }

  img, video, canvas {
    max-width: 100%;
  }
}

#loading,
#error {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10em;
  background-color: rgba(255, 255, 255, 0.8);
}

#error {
  display: none;
}
